body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  padding: 20px 20px 60px;
  margin: 0 auto;
  background: hsla(0, 0%, 0%, 1);

  background: radial-gradient(
    circle,
    hsla(0, 0%, 0%, 1) 29%,
    hsla(0, 0%, 13%, 1) 100%
  );

  background: -moz-radial-gradient(
    circle,
    hsla(0, 0%, 0%, 1) 29%,
    hsla(0, 0%, 13%, 1) 100%
  );

  background: -webkit-radial-gradient(
    circle,
    hsla(0, 0%, 0%, 1) 29%,
    hsla(0, 0%, 13%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#222222", GradientType=1 );
}

/* img {
  padding-bottom: 20px;
  max-width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

h1 {
  color: antiquewhite;
  margin: 0 auto;
  text-align: center;
}

h2 {
  color: antiquewhite;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

p {
  color: antiquewhite;
  margin: 0 auto;
  text-align: center;
  max-width: 60%;
}

.container {
  margin: 0 auto;
}

.eventdates {
  max-width: 80%;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}

.icon {
  max-width: 6%;
  padding: 10px;
  display: inline;
}

.icon:hover {
  filter: grayscale(100%) sepia(100%);
  cursor: pointer;
}

.logo {
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about-image {
  max-width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.media {
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pressphoto {
  padding-bottom: 30px;
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.soundcloudplayer {
  padding-bottom: 30px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
